.background_Principal{
    -fx-background-image: url(./images/timbre.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 950 600;
    -fx-background-position: center center;
}

.background_Apartamento{
    -fx-background-image: url(./images/habitacion.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 950 600;
    -fx-background-position: center center;
}

.background_Clientes{
    -fx-background-image: url(./images/clientes.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 950 600;
    -fx-background-position: center center;
}

.background_Productes{
    -fx-background-image: url(./images/extras.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 950 600;
    -fx-background-position: center center;
}

.background_Reserves{
    -fx-background-image: url(./images/reserves.PNG);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 950 600;
    -fx-background-position: center center;
}

.background_Serveis{
    -fx-background-image: url(./images/servicios.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 950 600;
    -fx-background-position: center center;
}


.backgroundGrey{
    -fx-background-color:  rgba(215,215,215,0.7);
}

#titulo_apartamento{
    -fx-font-family: Ubuntu;
    -fx-font-size:24px;
}

#titulo_clientes{
    -fx-font-family: Ubuntu;
    -fx-font-size:24px;
}

#titulo_productes{
    -fx-font-family: Ubuntu;
    -fx-font-size:24px;
}
.texterr{
    -fx-font-family: Ubuntu;
    -fx-text-fill: #a53b3f;
    -fx-font-size:11px;
    -fx-font-weight: bold;    
}

.txtReserva{
    -fx-font-family: Ubuntu;
    -fx-text-fill: #53A53B;
    -fx-font-size:11px;
    -fx-font-weight: bold;
}

.labels{
    -fx-font-family: Ubuntu;
    -fx-font-size:13px;
}